<article>
    <a href="{{ .image }}" class="image">
        <img src="{{ .thumb }}" alt="" loading="lazy" />
    </a>
    <div class="caption">
        {{ if .title }}
            <h3>{{ .title }}</h3>
        {{ end }}

        {{ if .content }}
            <p class="caption-content">{{ .content }}</p>
        {{ end }}

        {{ if .button }}
            <ul class="actions fixed">
                <li><span class="button small">{{ .button }}</span></li>
            </ul>
        {{ end }}
    </div>
</article>
