{{ define "main" }}

    {{ partial "banner" site.Data.FindingTheLostCity.banner }}
  
    <section class="wrapper style1 invert">
        <div class="inner medium">
            <p>Our journey to Ciudad Perdida — the "Lost City" — began along the Rodadero beach of Santa Marta, Colombia's oldest surviving city and the rendezvous point for our 8-person party. Arriving on flights from New York, San Francisco, and Hong Kong, we checked into a modest beachfront hotel for a one-night stay, with less than 24 hours till the first step of the hike.</p>
        </div>
    </section>
    
    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_intro_sm }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_into_the_jungle }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_el_mamey }}
  
    <section class="wrapper style1 invert">
        <div class="inner medium">
            <p>Setting out after lunch, the first thirty minutes of the hike traversed a climbing, mule-trodden, motorbike-driven dirt trail with unremarkable scenery and punishing inclines. There was little cloud cover, and the heat from the sun was unrelenting.</p>
            <p>If there was a moment for wavering confidence, this might have been it.</p>
        </div>
    </section>
    
    {{ partial "banner" site.Data.FindingTheLostCity.banner_first_ridge }}
    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_canopy }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_canopy }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_first_camp }}
  
    <section class="wrapper style1 invert">
        <div class="inner medium">
            <h3>Fine Dining</h3>
            <p>The dining experience deserves special recognition, as Magic Tour assigned a cook to each group to prepare all of breakfast, lunch, and dinner. Our cook, Kuko, did not disappoint.</p>
            <p>In keeping with typical Colombian cuisine, each meal consisted of a selected protein, accompanied by a light salad, rice, and patacones — a fried plantain dish also known elsewhere in Latin America as tostones. We were served an endless supply of fresh juice from local fruit, and an especially rich Colombian hot chocolate was offered at breakfast.</p>
        </div>
    </section>
  
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_fine_dining }}
  
    <section class="wrapper style1 invert">
        <div class="inner medium">
            <h2>Day 2: Onwards</h2>
            <h3>Up and At 'Em</h3>
            <p>Each day, our morning wake-up call came promptly at 5 AM, with the camp still shrouded in darkness. Although early, the previous day's exhaustion ensured we were usually in bed by 9 PM.</p>
            <p>After a quick breakfast and morning briefing from our guides, we set out at sunrise for the first full-day hike.</p>
        </div>
    </section>
  
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_onwards }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_onwards2 }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_terrain }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_terrain2 }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_flora }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_flora2 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_flora3 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_epiphytes }}

    {{ partial "banner" site.Data.FindingTheLostCity.banner_tairona }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_wiwa }}

    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_footing }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_trail_scenery }}
  
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_jungle_produce1 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_jungle_produce2 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_jungle_produce3 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_jungle_produce4 }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_happy_hour }}
  
    <section class="wrapper style1 invert">
        <div class="inner medium">
            <p>In similar fashion, the term "Colombian Flat" was employed to describe quickly alternating sections of ascending and descending trail, i.e. "flat" only by some loose view of the average altitude gain.</p>
        </div>
    </section>
  
    <section class="wrapper style1 invert">
        <div class="inner">
            <p class="fat-blockquote">“It’s not easy, but if you keep walking, you’ll make it out.”</p>
        </div>
    </section>

    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_troubles }}
  
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_rest_stops }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_rest_stops2 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_furry_friends }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_camp_before_teyuna }}
    {{ partial "banner" site.Data.FindingTheLostCity.banner_quarters }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_teyuna }}

    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_steps }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_working_our_way_up }}
    {{ partial "banner" site.Data.FindingTheLostCity.banner_green_hell }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_history_lesson }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_history_lesson2 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_sun_over_ridge }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_stone_map }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_towards_the_center }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_city_center }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_city_center_views }}
    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_plaza_info }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_snacks }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_snacks2 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_meditation }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_pigment }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_pigment2 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_return }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_homeward_bound }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_farewell }}

    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_sunset }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_colombia_map }}
    
    <section class="wrapper style1 invert">
        <div class="inner large align-center">
            <p>Much thanks to our guides and tour operator, <a href="https://magictourcolombia.com/">Magic Tour Colombia</a>.</p>
            <p><em>Shot on the Panasonic Lumix G9 with the Lumix G 42.5mm f1.7 and Leica 15mm f1.7 lenses.</em></p>
        </div>
    </section>

    <footer class="wrapper style1 align-center invert">
        <div class="inner">
            <p>&copy; 2024 <a href="https://alexchao.com">Alex Chao</a></p>
        </div>
    </footer>

    {{ range .Site.Params.asset.fontawesome_js -}}
        <script type="text/javascript" src="{{ . | absURL }}"></script>
    {{- end }}

{{ end }}
