{{ define "main" }}

    {{ partial "banner" site.Data.FindingTheLostCity.banner }}
    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_intro }}
    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_intro_sm }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_into_the_jungle }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_el_mamey }}
    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_setting_out }}
    {{ partial "banner" site.Data.FindingTheLostCity.banner_first_ridge }}
    {{ partial "spotlight" site.Data.FindingTheLostCity.spotlight_canopy }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_canopy }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_first_camp }}
  
    <section class="wrapper style1 invert">
        <div class="inner medium">
            <h3>Fine Dining</h3>
            <p>The dining experience deserves special recognition, as Magic Tour assigned a cook to each group to prepare all of breakfast, lunch, and dinner. Our cook, Kuko, did not disappoint.</p>
            <p>In keeping with typical Colombian cuisine, each meal consisted of a selected protein, accompanied by a light salad, rice, and patacones — a fried plantain dish also known elsewhere in Latin America as tostones. We were served an endless supply of fresh juice from local fruit, and an especially rich Colombian hot chocolate was offered at breakfast.</p>
        </div>
    </section>
  
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_fine_dining }}
  
    <section class="wrapper style1 invert">
        <div class="inner medium">
            <h2>Day 2: Onwards</h2>
            <h3>Up and At 'Em</h3>
            <p>Each day, our morning wake-up call came promptly at 5 AM, with the camp still shrouded in darkness. Although early, the previous day's exhaustion ensured we were usually in bed by 9 PM.</p>
            <p>After a quick breakfast and morning briefing from our guides, we set out at sunrise for the first full-day hike.</p>
        </div>
    </section>
  
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_onwards }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_onwards2 }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_terrain }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_terrain2 }}

    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_flora }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_flora2 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_flora3 }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_epiphytes }}

    {{ partial "banner" site.Data.FindingTheLostCity.banner_tairona }}
    {{ partial "gallery" site.Data.FindingTheLostCity.gallery_wiwa }}
  
  
    <section class="wrapper style1 invert">
        <div class="inner medium align-center">
            <p><em>Shot on the Panasonic Lumix G9 with the Lumix G 42.5mm f1.7 and Leica 15mm f1.7 lenses.</em></p>
        </div>
    </section>

{{ end }}
